@font-face {
    font-family: 'Montserrat';
    src: url('./converted-fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./converted-fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./converted-fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./converted-fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./converted-fonts/Montserrat-Medium.woff2') format('woff2'),
        url('./converted-fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./converted-fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./converted-fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Montserrat";
    background-color: #F2F2F2;
}

img {
    max-width: 100%;
    border-radius: 12px;
}

article {
    border: 1px transparent solid;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 12px;
    margin: 12px;
}

.personal__image {
    border-radius: 10px;
}

.personal__info--contacts--email::before {
    content: url("./icons/gmail.svg");
}

.personal__info--contacts--phone--number::before {
    content: url("./icons/phone.svg");
}

.personal__info {
    border-radius: 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container__personal--info {
    grid-column-start: 1;
    grid-column-end: 2,
}

.container__personal--skills {
    grid-column-start: 2;
    grid-column-end: 4;
}

.skills__navigation--lists--items {
    list-style: none;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
}

.skills__navigation--lists--items label {
    margin-inline-end: 20px;
    margin-block-end: 30px;
}

.skills__projects {
    display: flex;
    flex-direction: row;
    background-color: #f5f8fa;
    margin-bottom: 30px;
}

.feature {
    margin-inline-end: 30px;
}

.blog {
    display: flex;
    flex-direction: row;
}

.feature__links--code {
    padding: 16px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ffffff;
    color: rgb(159, 159, 245);
}

.feature__links--demo {
    padding: 16px;
    background-color: #4a2df1;
    border-radius: 5px;
    color: #ffffff;
}

.skills__main-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.skills__main-buttons button:hover {
    color: #ffffff;
    background-color: #4a2df1;
    outline: none;
}

button {
    cursor: pointer;
}